<!-- START row-->
<div class="row">

    <div class="col-lg-8 pl-1 mainContainer">

        <div class="card card-porlet b leagueInfo">
            <div class="card-header">Grid Iron Throne - Season 1 <span id="currentWeek">...</span></div>
            <div class="card-body revo">

            </div>
            <div class="card-header">League Information</div>
            <div class="card-body">
        coming soon...



            </div>
        </div>

        <div class="card card-porlet b">
            <div class="card-header">Game of the Week</div>
            <div class="card-body p-0">
                <div id="gameoftheweek-container"></div>
            </div>

        </div>


        <div class="sidebyside potw">

            <div class="card card-porlet b">
                <div class="card-header">Offensive POTW</div>
                <div class="card-body p-0">

                    <div class="mb-0">
                        <div class="card-body p-0">
                            <div id="oplayeroftheweek-container"></div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="card card-porlet b">
                <div class="card-header">Defensive POTW</div>
                <div class="card-body p-0">

                    <div class="mb-0">
                        <div class="card-body p-0">
                            <div id="dplayeroftheweek-container"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="sidebyside playoffs">


            <div class="card card-porlet playoffRace">
                <div class="card-header AFCcolors">AFC Playoff Race</div>
                <div class="card-body p-0">
                    <div id="afc-playoff-container"></div>
                </div>
            </div>

            <div class="card card-porlet playoffRace">
                <div class="card-header NFCcolors">NFC Playoff Race</div>
                <div class="card-wrapper">
                    <div class="card-body p-0">
                        <div id="nfc-playoff-container"></div>
                    </div>

                </div>
            </div>


        </div>

        <div class="col-lg-12 standingsRow">

            <div class="card-header NFCcolors">NFC Standings</div>
            <div class="conferenceContainer">
                <div class="divisionContainer" id="nfc-east-container"></div>
                <div class="divisionContainer" id="nfc-west-container"></div>
                <div class="divisionContainer" id="nfc-north-container"></div>
                <div class="divisionContainer" id="nfc-south-container"></div>
            </div>
        </div>
        <div class="col-lg-12 standingsRow last">

            <div class="card-header AFCcolors">AFC Standings</div>
            <div class="conferenceContainer">
                <div class="divisionContainer" id="afc-east-container"></div>
                <div class="divisionContainer" id="afc-west-container"></div>
                <div class="divisionContainer" id="afc-north-container"></div>
                <div class="divisionContainer" id="afc-south-container"></div>
            </div>
        </div>

        <div class="sidebyside leaders">
            <div class="card card-porlet">
                <div class="card-header AFCcolors">Offensive Leaders</div>
                <div class="card-body p-0">
                    <div id="s-passing-leaders-container"></div>
                    <div id="s-rushing-leaders-container"></div>
                    <div id="s-receiving-leaders-container"></div>
                    <div id="s-picks-leaders-container"></div>
                </div>
            </div>



            <div class="card card-porlet">

                <div class="card-header NFCcolors">Defensive Leaders</div>
                <div class="card-body p-0">
                    <div id="s-defense-leaders-container"></div>
                    <div id="s-sacks-leaders-container"></div>
                    <div id="s-defenseint-leaders-container"></div>
                </div>
            </div>

        </div>


        <div class="card card-porlet b" style="display: none">
            <div class="card-header">Next Advance</div>
            <div class="card-body p-0">
                <div id="advanceclock-container"></div>
            </div>

        </div>
    </div>


    <div class="col-lg-4 pl-2 sidebarContainer">

        <div class="card card-porlet b">
            <div class="card-header ">Power Rankings</div>
            <div class="card-body p-0">
                <div id="powerrankings-container"></div>
            </div>
        </div>

        <div class="card card-porlet b atl">
            <div class="card-header">Around the League!</div>
            <div class="card-body p-0">
                <div id="news-stream-container"></div>
            </div>
        </div>
    </div>

</div>

<div class="sbSection">
    <h1>Grid Iron Throne 2021 Super Bowl Champions</h1>
</div>
<div class="sbContainer">
    <div class='sbItem'>
        <h3>Season 1</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
    <div class='sbItem'>
        <h3>Season 2</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
    <div class='sbItem'>
        <h3>Season 3</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
    <div class='sbItem'>
        <h3>Season 4</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
    <div class='sbItem'>
        <h3>Season 5</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
    <div class='sbItem'>
        <h3>Season 6</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
    <div class='sbItem'>
        <h3>Season 7</h3>
        <img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
        <h4>user</h4>
    </div>
</div>

<!-- /img/nfl/teams/right/26.png -->
<!-- END row-->