<script>console.log('Steel sucks')</script>
<img src="http://i989.photobucket.com/albums/af16/MaddenRevo/1024x300.jpeg.757a79bfeda747a5b94c29ba1c91c259.large_zpseyfnuxiq.jpg">
<script>
    //OVERRIDE DL IMPORTANT STYLING
    $('div.cfm-header > img').attr('style', 'width: initial !important');
    $(document).ready(function () {
        let attemptCount = 0;
        try {
            $('#dlmaddenmenu > ul').append('<li class="nav-link lightbulb" onclick = "revoScripts.toggleTheme()"><em class="icon-bulb"></em></li>');
            $(document).prop('title', 'REVO - Steel Sucks');
        } catch (e) { console.log(e) };

        var pageCustomizer = setInterval(function () {
            revoScripts.customizePage()
            attemptCount += 1;
            if (attemptCount >= 10 || revoData.initialized) {
                console.log('attempts: ' + attemptCount)
                clearInterval(pageCustomizer)
            }
        }, 100);

    });

    var revoData = {
        inverted: false,
        layout: 1,
        initialized: false
    }
    var revoScripts = {}

    revoScripts.customizePage = function () {
        try {
            revoScripts.getData();
            revoScripts.copyData()
            revoScripts.removeCityName()
        } catch (e) { }
        if ($('.revoInit').length === 32) {
            revoData.initialized = true;
        }
    }
    revoScripts.getData = function () {
        $.get("https://www.daddyleagues.com/revo/schedules", function (data) {
            $(".result").html(data);
            var regPost = $(data).find('.nav-link.active').text() === 'Season' ? 'Week ' : ""
            var currentWeek = $(data).find('.btn.btn-primary').text()
            $('#currentWeek').text(regPost + currentWeek)

        });

    }
    revoScripts.toggleTheme = function () {
        if (revoData.inverted) {
            $('.layout-h, .layout-cfm, .wrapper .section-container').css('background', revoStyles.WHITE)
            $('.icon-bulb').css('color', revoStyles.YELLOW)
        } else {
            $('.layout-h, .layout-cfm, .wrapper .section-container').css('background', revoStyles.BLACK)
            $('.icon-bulb').css('color', revoStyles.BLACK)

        }
        revoData.inverted = !revoData.inverted

    }

    revoScripts.removeCityName = function () {
        $('.divisionContainer td a').each((index, team) => {
            var teamName = $(team).text().split(' ');
            $(team).text(teamName.splice(teamName.length - 1, 1))
            $(team).addClass('revoInit')
        })

    }

    revoScripts.copyData = function () {
        // if ($('#afc_east tr').length === 5 && $('#afc_south tr').length === 5 && $('#nfc_east tr').length === 5 && $('#nfc_south tr').length) {
        $('#nfc_east table').clone().appendTo('#nfc-east-container2')
        $('#nfc_west table').clone().appendTo('#nfc-west-container2')
        $('#nfc_north table').clone().appendTo('#nfc-north-container2')
        $('#nfc_south table').clone().appendTo('#nfc-south-container2')

        $('#afc_east table').clone().appendTo('#afc-east-container2')
        $('#afc_west table').clone().appendTo('#afc-west-container2')
        $('#afc_north table').clone().appendTo('#afc-north-container2')
        $('#afc_south table').clone().appendTo('#afc-south-container2')
        // } 
    }

    const revoStyles = {
        BLACK: '#191919',
        GREY: '#A6A6A6',
        WHITE: '#FDFDFD',
        RED: '#A01D23',
        DARKRED: '#772028',
        YELLOW: '#ffd700',
        BLUE: '#1D2C53'
    }

</script>
<style>
    /* style guide */

    /* 
        
        */

    /* overall page styling */

    .layout-h {
        background: #FDFDFD;
        transition: ease-in-out .5s
    }

    .layout-h.inverted {
        background: #191919;
        transition: ease-in-out .5s
    }

    .layout-cfm {
        background: #FDFDFD;
        transition: ease-in-out .5s
    }

    .wrapper .section-container {
        background: #FDFDFD;
        transition: ease-in-out .5s
    }

    /* header styling */

    .cfm-header {
        display: flex;
        justify-content: center;
    }

    /* card styling */

    body>div>section>div.content-wrapper>div.row>div.col-lg-8.pl-1.mainContainer>div:nth-child(1)>div.card-header .card .card-header {}

    .card {}

    .leagueInfo p {
        margin: 0;
    }

    .leagueInfo .card-header {
        font-size: 24px;
        padding-bottom: 0;
    }

    .leagueInfo .card-body {
        padding-top: .5rem;
    }

    .atl .blogpost {
        background: #fff;
        padding: .5rem .5rem .25rem .5rem;
        margin-bottom: 15px;
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px);
        border: 1px solid rgba(0, 0, 0, .12);
    }

    .atl hr {
        display: none;
    }

    .sbContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sbSection {
        margin-top: 20px;
    }

    .sbSection h1 {}

    .sbItem {
        border-radius: 3px;
        padding: 5px 10px;
        text-align: center;
        justify-content: space-between;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        margin-bottom: 10px;

    }

    .atl {
        background: transparent;
        border: none;
    }

    .atl div.card-header {
        padding: 0;
        font-size: 24px;
    }

    .lightbulb {
        font-size: 16px;
        margin-left: auto;
    }

    .icon-bulb ::before {
        font-weight: 600;
        color: #ffd700;
    }

    .icon-bulb {
        color: #ffd700;
    }

    #dlmaddenmenu>ul {
        width: 100%;
    }

    .sbItem img {
        width: 50px;
    }

    .divisionContainer {
        justify-content: space-between;
        flex: 1;
    }

    .conferenceContainer {
        display: flex;
        flex-direction: row;
    }

    div.standingsRow.last {
        margin: 10px 0 20px 0;
    }

    .standingsRow {
        padding: 0;
    }

    .revo p {
        font-family: Arial, Helvetica, sans-serif;
    }

    div.blogpostbody p {
        font-family: Arial, Helvetica, sans-serif;

    }

    div.blogpostbody li {
        font-family: Arial, Helvetica, sans-serif;

    }

    #afc_playoff>div>h4 {
        padding: .625rem .9375rem;
        background-color: #b50023 !important;
        margin: 10px 0 0 0;
        color: white;
        font-family: DLTechBold !important;
        font-size: .875rem;
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    #nfc_playoff>div>h4 {
        padding: .625rem .9375rem;
        background-color: #004079 !important;
        margin: 10px 0 0 0;
        color: white;
        font-family: DLTechBold !important;
        font-size: .875rem;
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;

    }

    .twitter-timeline {
        border: 1px solid rgba(0, 0, 0, .12) !important;
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0 !important;
    }

    .sidebyside {
        display: flex;
        justify-content: space-between;
    }

    .sidebyside.leaders>.card {
        box-shadow: none;
        background: transparent;
    }

    .sidebyside>.card {
        width: 49%;
    }

    .playoffRace {
        width: 49%;
    }

    .col-lg-8,
    .col-lg-4 {
        padding: 0 .25rem;
    }

    .layout_2 {
        display: none;
    }

    @media (max-width: 768px) {
        .conferenceContainer {
            flex-wrap: wrap;
        }

        .divisionContainer {
            min-width: 50%;
        }
    }

    @media (max-width: 500px) {
        .sidebyside>.card {
            width: 100%;
            flex-direction: column;
        }
        .sidebyside.potw {
            flex-direction: column;
        }
        .sidebyside.playoffs {
            flex-direction: column;
        }
        .conferenceContainer {
            flex-direction: row;
        }

        .divisionContainer {
            min-width: 100%;
        }
    }
</style>