<!-- START row-->
<div class="row">

        <div class="col-lg-12 layout_2 standingsRow">
    
            <div class="card-header NFCcolors">NFC Standings</div>
            <div class="conferenceContainer">
                <div class="divisionContainer" id="nfc-east-container2"></div>
                <div class="divisionContainer" id="nfc-west-container2"></div>
                <div class="divisionContainer" id="nfc-north-container2"></div>
                <div class="divisionContainer" id="nfc-south-container2"></div>
            </div>
        </div>
        <div class="col-lg-12 layout_2 standingsRow">
    
            <div class="card-header AFCcolors">AFC Standings</div>
            <div class="conferenceContainer">
                <div class="divisionContainer" id="afc-east-container2"></div>
                <div class="divisionContainer" id="afc-west-container2"></div>
                <div class="divisionContainer" id="afc-north-container2"></div>
                <div class="divisionContainer" id="afc-south-container2"></div>
            </div>
        </div>
    
    
        <div class="col-lg-4 pl-1" id="portlet-1">
    
            <!-- START card-->
            <div class="card card-porlet b">
                <div class="card-header">Offensive POTW</div>
                <div class="card-body p-0">
    
                    <div class="card  mb-0">
                        <div class="card-body p-0">
                            <div id="oplayeroftheweek-container"></div>
                        </div>
                    </div>
    
    
                </div>
    
            </div>
            <!-- END card-->
            <!-- START card-->
    
            <div class="card card-porlet">
                <div class="card-header AFCcolors">AFC Playoff Race</div>
                <div class="card-body p-0">
                    <div id="afc-playoff-container"></div>
                </div>
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet layout_1">
                <div class="card-header AFCcolors">AFC Standings</div>
                <div class="card-body p-0">
                    <div id="afc-east-container"></div>
                    <div id="afc-west-container"></div>
                    <div id="afc-north-container"></div>
                    <div id="afc-south-container"></div>
                </div>
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet">
                <div class="card-header AFCcolors">Offensive Leaders</div>
                <div class="card-body p-0">
                    <div id="s-passing-leaders-container"></div>
                    <div id="s-rushing-leaders-container"></div>
                    <div id="s-receiving-leaders-container"></div>
                    <div id="s-picks-leaders-container"></div>
                </div>
            </div>
            <!-- END card-->
            <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/Madden_Revo?ref_src=twsrc%5Etfw">Tweets
                by Madden_Revo</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    
    
        </div>
        <div class="col-lg-4 p-0" id="portlet-2">
    
            <!-- START card-->
            <div class="card card-porlet b">
                <div class="card-header">Game of the Week</div>
                <div class="card-body p-0">
                    <div id="gameoftheweek-container"></div>
                </div>
    
            </div>
            <!-- END card-->
    
            <div class="card card-porlet b">
                <div class="card-header">Madden Revolution</div>
                <div class="card-body revo">
                    <p>Currently in Season 1, <span id="currentWeek">...</span>!</p>
    
                    <p>Welcome to Revo! If you're interested in joining please contact one of our commissioners! </p>
                    <p>Commissioner : D00M, ksreddy93, Snorlax1143, Steeltownkilla6, xstillunknownx</p>
    
                </div>
            </div>
    
            <div class="card card-portlet b">
                <div class="card-header">League Information</div>
                <div class="card-body">
                    <a href="https://docs.google.com/spreadsheets/d/1rre99HFJX27mm5szjOrh0ARqMQIUWymJOPArxFy49v8/edit?usp=sharing">Approved
                        Trades</a>
                    <br />
                    <a href="https://goo.gl/forms/bZ4INwfjEtnRjqot2">Trade Submission Form</a>
                    <br />
                    <a href="https://docs.google.com/spreadsheets/d/1nwZdSnw-GB5s9G1AcRKOn-adL1-bY6xEdq3HBRzVYyg/edit#gid=0">Waivers</a>
                    <br />
                    <a href="https://docs.google.com/spreadsheets/d/18QzUS8fkKMvVAM88r6SRsrs9IFjB0SNN2lyQd370FoE/edit?usp=sharing">Trade
                        Block</a>
    
                    <br />
                    <a href="https://docs.google.com/spreadsheets/d/1zfR2JZtUFnqtR51MHnExCk3JDHM-MqZ23VNL2Xv-4EA/edit?usp=drive_web&ouid=116725187744164932217">2019
                        Revo Invitational Bracket</a>
    
                </div>
            </div>
    
    
    
            <!-- START card-->
            <div class="card card-porlet b">
                <div class="card-header">Next Advance</div>
                <div class="card-body p-0">
                    <div id="advanceclock-container"></div>
                </div>
    
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet b">
                <div class="card-header ">Power Rankings</div>
                <div class="card-body p-0">
                    <div id="powerrankings-container"></div>
                </div>
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet b atl">
                <div class="card-header">Around the League!</div>
                <div class="card-body p-0">
                    <div id="news-stream-container"></div>
                </div>
            </div>
            <!-- END card-->
        </div>
        <div class="col-lg-4 pr-1" id="portlet-3">
            <!-- START card-->
            <div class="card card-porlet b">
                <div class="card-header">Defensive POTW</div>
                <div class="card-body p-0">
    
                    <div class="card mb-0">
                        <div class="card-body p-0">
                            <div id="dplayeroftheweek-container"></div>
                        </div>
                    </div>
    
                </div>
    
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet">
                <div class="card-header NFCcolors">NFC Playoff Race</div>
                <div class="card-wrapper">
                    <div class="card-body p-0">
                        <div id="nfc-playoff-container"></div>
                    </div>
    
                </div>
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet layout_1">
                <div class="card-header NFCcolors">NFC Standings</div>
                <div class="card-body p-0">
                    <div id="nfc-east-container"></div>
                    <div id="nfc-west-container"></div>
                    <div id="nfc-north-container"></div>
                    <div id="nfc-south-container"></div>
                </div>
            </div>
            <!-- END card-->
            <!-- START card-->
            <div class="card card-porlet">
                <div class="card-header NFCcolors">Defensive Leaders</div>
                <div class="card-body p-0">
                    <div id="s-defense-leaders-container"></div>
                    <div id="s-sacks-leaders-container"></div>
                    <div id="s-defenseint-leaders-container"></div>
                </div>
            </div>
            <!-- END card-->
        </div>
    </div>
    <div class="sbSection">
        <h1>Revo 2019 Super Bowl Champions</h1>
    </div>
    <div class="sbContainer">
        <div class='sbItem'>
            <h3>Season 1</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
        <div class='sbItem'>
            <h3>Season 2</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
        <div class='sbItem'>
            <h3>Season 3</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
        <div class='sbItem'>
            <h3>Season 4</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
        <div class='sbItem'>
            <h3>Season 5</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
        <div class='sbItem'>
            <h3>Season 6</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
        <div class='sbItem'>
            <h3>Season 7</h3><img src="http://phillysportscentral.com/wp-content/uploads/2011/07/nfl-logo-250x250.jpg" />
            <h4>user</h4>
        </div>
    </div>
    
    <!-- /img/nfl/teams/right/26.png -->
    <!-- END row-->